/* RATINGS */
************************************************************

body
{
  margin:0;
  padding: 0;
} 

.rating
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
    display: flex;
}

.rating input
{
    display: none;
}

.rating label
{
    spacing: 22px; 
    display: block;
    cursor: pointer;
    widows: 35px;
    background:white;
}

.rating label:before
{
    content: '\f004';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 30px;
    color: black;
}
.rating label:after
{
    content: '\f004';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 30px;
    color: red;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after
{
    opacity: 1;
} 